extends ../../base

block title
  title Reddit Wordcloud Bot

block content
  article: :markdown-it(html=true)
    # [Reddit Wordcloud Bot](.)

    The third Reddit bot I've decided to make is one which generates word clouds
    for comments in submissions. The [source code for the
    bot](https://github.com/paul-nechifor/reddit-cloud) is on GitHub (along with
    instructions) and I'm running it on user
    [WordCloudBot2](http://www.reddit.com/user/WordCloudBot2?sort=top). The
    reason for the _2_ is that someone registered the first name 6 hours before
    me.

    ## The Good

    This is definitely my most praised bot so far.

    > Whoa, this is a pretty awesome bot. &mdash;
    [\_omega\_as\_fuck\_](http://www.reddit.com/r/pics/comments/1j8ww5/infinity_pools_mess_with_my_head/cbchae0?context=3)

    <!-- -->

    > I love this. &mdash;
    [BlackShadowRose](http://www.reddit.com/r/AdviceAnimals/comments/1j8q22/ive_been_working_in_retail_for_3_weeks_now_and/cbcgw5u?context=3)

    <!-- -->

    > This is a really cool bot. &mdash;
    > [shadowX015](http://www.reddit.com/r/aww/comments/1j8pf3/i_fits_i_sits_the_dish_is_there_specifically_for/cbcgvsl?context=3)

    <!-- -->

    > This would make a dope album cover &mdash;
    [my_lastnew_account](http://www.reddit.com/r/AdviceAnimals/comments/1j931q/to_the_guy_who_got_shot_while_being_robbed/cbcgpu9?context=3)

    <!-- -->

    > you are my new favourite bot :D &mdash;
    > [RandosaurusRex](http://www.reddit.com/r/aww/comments/1j8t7x/all_the_baristas_at_my_starbucks_want_a_break/cbcgpny?context=3)

    <!-- -->

    > You're interesting and new. &mdash;
    > [DesperateInAustin87](http://www.reddit.com/r/reactiongifs/comments/1j8s0r/how_i_deal_with_breakups/cbcfv0i?context=3)

    <!-- -->

    > I love this bot, I think it's my favourite. &mdash;
    > [Lottia](http://www.reddit.com/r/skyrim/comments/1j7uhg/still_gives_me_a_laugh/cbcd009?context=3)

    <!-- -->

    > best bot of 2013! &mdash;
    > [bangedmyexesmom](http://www.reddit.com/r/AdviceAnimals/comments/1j9rrq/poetry/cbcrwbm?context=3)

    <!-- -->

    > /u/WordCloudBot2 is best bot. &mdash;
    > [Titan_Transcendent](http://www.reddit.com/r/circlejerk/comments/1j8k2h/cops_fundies_and_hitler_mods_are_causing_euphoria/cbcrpzp?context=3)

    <!-- -->

    > First bot I've seen in long time that I actually liked. Well done. &mdash;
    > [HardwareLust](http://www.reddit.com/r/cats/comments/1jbm6v/whenever_i_have_cereal/cbdcprh?context=3)

    <!-- -->

    > This is a perfect way to summarize an entire comment section to see if it is
    > worth while to read. Lots of big words means no originality so avoid the
    > comments. I think you are my new favorite bot! &mdash;
    > [Toni_W](http://www.reddit.com/r/wheredidthesodago/comments/1jatbt/i_really_should_buy_some_toilet_paper/cbdar4l?context=3)

    <!-- -->

    > this is a pretty badass bot. &mdash;
    > [cedricchase](http://www.reddit.com/r/woahdude/comments/1jaedm/smoke_rings_gif/cbda33u?context=3)

    <!-- -->

    > This is a really great bot. keep it up. &mdash;
    > [Lemonade1947](http://www.reddit.com/r/4chan/comments/1jbnhe/anons_limewire_experience/cbd8vti?context=3)

    <!-- -->

    > This is really cool, I hope to see you more often. &mdash;
    > [Xdivine](http://www.reddit.com/r/news/comments/1jaxhr/fake_cops_robbing_detroit_citizens_at_gunpoint/cbd0u9t?context=3)

    <!-- -->

    > I think this is the best bot I have ever seen. Please marry me, WordCloudBot2.
    > &mdash;
    > [ADeadlySpoon](http://www.reddit.com/r/WTF/comments/1jado3/reading_a_pregnancy_book_for_new_dads_it/cbczrd9?context=3)

    ## The Bad

    > \[sigh\] another bot? &mdash;
    > [DallasTruther](http://www.reddit.com/r/conspiracy/comments/1jaf8h/exposure_bad/cbd6vwj?context=3)

    <!-- -->

    > But why? &mdash;
    > [beatleforce1](http://www.reddit.com/r/teenagers/comments/1jakrg/how_to_respond_the_next_time_someone_asks_you_for/cbd5un3?context=3)

    <!-- -->

    > Oh, another useless bot. Just what we needed. &mdash;
    > [ChemicalShenanigans](http://www.reddit.com/r/4chan/comments/1ja7oh/be_conquistador/cbdn9a7?context=3)

    I haven't gotten many insults with this one. Some mods ban me with no reason
    (they don't like any bots). Most of the criticism is because of the weirder
    fonts used. I've decided to stop using most of those fonts.

    And there are a lot of valid criticisms:

    * initially words weren't split too well, such as _don't_ appearing as _don_
    (fixed this);
    * sometimes most of the words end up being written vertically and are hard to
    read (fixed this);
    * related words aren't counted together (_cat_ and _cats_ should both be under
    _cat_).

    Date: 2013-08-04
