extends ../../base_ro

block title
  title Critici

block content
  article: :markdown-it(html=true)
    # [Critici](.)

    Uneori nu poți să lași comentarii la articole din ziare (sau nu e cel mai
    bun mediu) așa că le public aici.

    1. [Chinurile limbii române](../chinurile-limbii-romane)
