extends ../../base

block content
  article: :markdown-it(html=true)
    # [Presentations](.)

    My presentations in reverse chronological order:

    * [Exploring C vulnerabilities with the Clang Static Analyzer](/clang-static-analyzer)
    * [Executable Code Injection](/executable-code-injection)
    * [Using OpenVAS](/using-openvas)
    * [Using Metasploit](/using-metasploit)
    * [Concurrency in Go](/go-concurrency)
    * [Multilatex: collaborative web editor for LaTeX](/multilatex-dissertation/presentation)
    * [Facetrain Experiments](/facetrain)

    Created by [Paul Nechifor](/).
