doctype html
html(lang='ro')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    block title
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='Gândurile lui Paul Nechifor.')
    link(rel='apple-touch-icon', href='/favicon152.png')
    style: :stylus(compress=true)
      body
        font-family -apple-system, BlinkMacSystemFont, Ubuntu, "Segoe UI", Roboto, Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
        font-size 1.2em
        line-height 1.4
      article, footer
        margin 0 auto
        max-width 600px
      a
        text-decoration none
        &:hover
          text-decoration underline
      .image
        text-align center
      pre
        background-color #eee
        padding 4px 2px
        overflow-x auto
      .image img, pre
        max-width 100%
      blockquote
        position relative
        margin 1.5rem 2rem
        &:before, &:after
          display block
          font-size 2.5rem
          height 2.5rem
          line-height 1
          position absolute
          text-align center
          width 2rem
          color #555
        &:before
          content "„"
          bottom -0.5rem
          left -2rem
        &:after
          content "“"
          top -0.5rem
          right -2rem
      footer
        padding-top 0.5em
        small
          color #999
          a
            color #888
  body
    block content

    footer
      :markdown-it
        Creat de [Paul Nechifor](/). •
        Vezi restul de [critici](../critici).

      small: :markdown-it
        [Home](/) •
        [Blog](/blog) •
        [Proiecte](/projects) •
        [Twitter](https://twitter.com/PaulNechifor)
