doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    block title
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='Paul Nechifor’s blog posts.')
    link(rel='apple-touch-icon', href='/favicon152.png')
    style: :stylus(compress=true)
      body
        font-size 1.2em
        line-height 1.4
      article, footer
        margin 0 auto
        max-width 600px
      a
        text-decoration none
        &:hover
          text-decoration underline
      .image
        text-align center
      pre
        background-color #eee
        padding 4px 2px
        overflow-x auto
      .image img, pre
        max-width 100%
      footer
        padding-top 0.5em
        small
          color #999
          a
            color #888
  body
    block content

    footer
      :markdown-it
        Created by [Paul Nechifor](/).

      small: :markdown-it
        [Home](/) •
        [Blog](/blog) •
        [Projects](/projects) •
        [Twitter](https://twitter.com/PaulNechifor)
