extends layout

block headStart
  title Paul Nechifor's Blog

block header
  h1
    a(href='/') Blog Posts

block content
  | {% for post in site.posts %}
  .post-excerpt
    .title

      h2
        a(href='{{ post.url }}') {{ post.title }}
      .date {{ post.date | date_to_string }}
    .excerpt
      p
        | {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
        a(class='continue' href='{{ post.url }}') (continue)

    | {% if forloop.last == false %}
    .line
    | {% endif %}

  | {% endfor %}
