extends ../../base_ro

block title
  title Chinurile limbii române

block content
  article: :markdown-it(html=true)
    # [Chinurile limbii române](.)

    Ana Maria Sandu spune în Dilema Veche că [este foarte important ca
    politicienii să folosească un limbaj corect][1].

    Nu sunt convins de ce spune. Ca foarte mulți din sfera filologică, ea crede
    că stilul e mai important decât substanța după cum se vede în următorul
    citat.

    > N-o să poți avea niciodată încredere în cineva care se exprimă bolovănos
    și n-are proprietatea termenilor, chiar dacă, prin absurd, ar veni și ți-ar
    spune că are niște idei geniale care vor salva lumea.

    Deci și când e vorba de viață și moarte, stilul de exprimare e mai important
    decât competența.

    > Cum să-l crezi pe un ministru care îți promite că va schimba și va face
    minuni din poziția sa, dacă lui îi ies din gură cuvintele șchioape? N-ai cum
    și dacă ai vrea.

    Este ușor de crezut pentru majoritate pentru că poți spune că are o
    exprimare populară. Și asta dă bine la votanți. Mulți ziariști au râs de
    [Valentin Popa când a zis „pamblică“][2] (ignor faptul că e un pesedist
    împuțit), dar ăsta este un regionalism. Sunt de părere că până și cei care
    nu folosesc varianta „pamblică“ ar fi trecut rapid peste momentul ăla dacă
    n-ar fi sărit în sus unii că e „greșit“ în ciuda faptului că apare clar în
    DEX.

    Dacă limbajul ar fi așa de important nu ar fi așa de mulți politicieni
    agramați. Autoarea probabil vrea să spună că exprimarea ar trebui să fie
    importantă (nu că aș fi de acord cu asta), nu că este, pentru că este clar
    că nu-i așa de importantă în practică.

    Nu vreau să las impresia că eu consider gramatica, exprimarea, vocabularul
    și altele importante. Sunt importante! Dar când vine vorba de politică,
    consider că un politician competent și necorupt este preferabil unuia cu
    exprimare clară, gramatică corectă, pronunție frumoasă și vocabular bogat.

    [1]: http://dilemaveche.ro/sectiune/dilemablog/articol/chinurile-limbii-romane
    [2]: https://www.hotnews.ro/stiri-politic-22251221-cine-este-valentin-popa-noul-ministru-educatiei-surprins-repetate-randuri-facand-greseli-gramaticale-limba.htm
