extends ../../base_en

block title
  title Blog

block content
  article: :markdown-it(html=true)
    # [Blog](.)

    Blog articles:

    * [My Brain on Git](/my-brain-on-git/)
    * [Reddit Wordcloud Bot](/reddit-wordcloud-bot/)
    * [Reddit Summarization Bot](/reddit-summarization-bot/)
    * [Reddit Spellchecking Bot](/reddit-spellchecking-bot/)

    Some other things:

    * [Dotfiles](/dotfiles)
    * [Presentations](/presentations/)
    * [Critici](/critici/)
