doctype html
- var paths = gen.info.app.paths;
html(lang='en')
  head
    meta(charset='utf-8')
    block headStart
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href=paths.static + '/logo.png', type='image/png')
    link(rel='apple-touch-icon', sizes='57x57', href=paths.static + '/logo57.png')
    link(rel='apple-touch-icon', sizes='152x152', href=paths.static + '/logo152.png')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700')
    link(rel='stylesheet', href=paths.style)
    block head
  body
    .full-container
      .non-footer
        header.plain
          block header

        .content
          block content

      footer
        .container
          p Created by <a href='http://nechifor.net'>Paul Nechifor</a>.
            | View some of my <a href='http://nechifor.net#projects'>projects</a>.
    script(src='//code.jquery.com/jquery-1.10.2.min.js')
