extends ../../base

block title
  title Dotfiles

block content
  article: :markdown-it(html=true)
    # [Dotfiles](.)

    I publish my [dotfiles on GitHub][source].

    I try to write literate configurations for some of my dotfiles. Examples
    would be:

    * [my `.vimrc`](/dotfiles/vimrc.html)
    * [my `.bashrc`](/dotfiles/bashrc.html)

    Created by [Paul Nechifor](/).

    [source]: https://github.com/paul-nechifor/dotfiles
