body
  font-family 'Open Sans', sans-serif

strong
  font-weight bold

em
  font-style italic

h1
  font-size 36px
  text-transform uppercase
  text-align center
  font-weight 700
  padding 40px 0 20px 0
  letter-spacing 1px
  word-spacing 10px

p, li
  font-size 18px
  margin-bottom 1em
  line-height 1.8
  color #111

p, li, h1, h2, h3
  max-width normalMaxWidth
  margin-left auto
  margin-right auto

a
  color activeColor
  font-weight bold
  &:hover
    color selectedActiveColor
