// Reset
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section
  display block

body
  line-height 1

ol, ul
  list-style none

blockquote, q
  quotes none

blockquote:before, blockquote:after, q:before, q:after
  content ''
  content none

table
  border-collapse collapse
  border-spacing 0

a
  text-decoration none
  color inherit

// Colors
normalColor = #393939
activeColor = #37AD8E
selectedActiveColor = #127058

// Dimensions
normalMaxWidth = 600px
minMaxWidth = 320px
widthIncrements = 40px
widthDefinitions = floor((normalMaxWidth - minMaxWidth) / widthIncrements)
prePadding = 10px

// Mixins
sub-normal-width()
  @media (max-width: normalMaxWidth - 1)
    {block}

// Main
.full-container
  display table

html, body, .full-container
  height 100%

.full-container, .non-footer, .content, .content article
  width 100%

.non-footer
  display table-row
  height auto

footer
  display table-row
  height 1px
  background-color #09AD8C
  .container
    padding 30px 0
  p:last-child
    margin-bottom 0
  p
    text-align center
  p, a
    color #fff

body
  font-family 'Open Sans', sans-serif

strong
  font-weight bold

em
  font-style italic

h1
  font-size 36px
  text-transform uppercase
  text-align center
  font-weight 700
  padding 40px 0 20px 0
  letter-spacing 1px
  word-spacing 10px

p, li, pre, .image
  font-size 18px
  margin-bottom 1em
  line-height 1.8
  small
    font-size 15px
  +sub-normal-width()
    font-size 16px
    small
      font-size 13px

ul
  list-style square
  padding-left 40px

p, li, h1, h2, h3, pre, .content
  color normalColor
  max-width normalMaxWidth
  margin-left auto
  margin-right auto

p, li, h1, h2, h3
  +sub-normal-width()
    padding 0 10px

a
  color activeColor
  font-weight bold
  &:hover
    color selectedActiveColor

code
  font-family "Ubuntu Mono"

pre
  max-width normalMaxWidth - 2 * prePadding
  padding prePadding
  background #eee
  overflow auto
  // Dumb idiotic hack because I suck at CSS.
  for i in (0 .. widthDefinitions)
    @media (max-width: normalMaxWidth + 20 - i * widthIncrements - 1)
      width normalMaxWidth - (i + 1) * widthIncrements - 4 * prePadding

p code
  background #eee
  padding 3px 3px
  margin -1px -1px
  border-radius 3px

.star-separator
  text-align center
  &:before
    content "***"

blockquote
  border-left 5px solid #ddd
  padding-left 10px
  width normalMaxWidth - 5px - 10px
  margin 0 auto

header
  .links
    max-width normalMaxWidth
    margin 0 auto
    text-transform uppercase
    font-weight bold
    font-size 18px
    padding-bottom 40px
    a
      color #fff
      padding 10px 0
    .left
      float left
    .right
      float right
  h1
    a
      color #fff
    padding 30px 0 30px 0
  &.plain
    background-color #09AD8C
  img.logo
    display block
    margin 0 auto

  &.cover
    background-position-x center

  &.cover600
    height 600px
    .links
      padding-top 20px
    h1
      margin-top 150px

header, footer
  a:hover
    color tint(activeColor, 50%)

.content
  padding-top 20px
  h2
    font-size 34px
  h3
    font-size 24px
  h2, h3
    margin-top 0.8em
    margin-bottom 0.5em

.image
  &, img
    max-width 100%
  .image-center
    display block
    margin-left auto
    margin-right auto
