@import reset
@import mixins
@import vars
@import footer
@import basic-styling

header
  .links
    max-width normalMaxWidth
    margin 0 auto
    text-transform uppercase
    font-weight bold
    font-size 18px
    a
      color #fff
      padding 10px 0
    .left
      float left
    .right
      float right
  h1
    a
      color #fff
    padding-top 80px

  p.date
    text-align center
    text-transform uppercase
    color #fff
    padding-bottom 40px

  &.plain
    background-color #09AD8C


header, footer
  a:hover
    color tint(activeColor, 50%)

.post-excerpt
  padding 40px 0 0 0
  h2
    a
      color #111
    font-size 28px
    text-transform uppercase
    text-align center
  .date
    font-size 18px
    text-transform uppercase
    color #888
    text-align center
    margin 20px 0
  .excerpt p
    color #444
  .excerpt
    padding-bottom 30px
  .continue
    visibility hidden
  &:hover
    .continue
      visibility visible
  .line
    max-width normalMaxWidth
    border-top 1px solid tint(activeColor, 50)
    margin 0 auto 10px auto

